[Desktop Entry]
Type=Application
Name=Install ArchLinux Net-install
Comment=Installer  ArchLinux Net-install
Categories=Utility;
Exec=pkexec /usr/bin/calamares
Icon=calamares
